.text h1{
    margin-top: 30px;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    padding: 30px;
    background-color: #eee;
    border-radius: 20px;
    box-shadow: #bcbcbc;
}
.m_top{
    padding-top: 50px;
}
.dp-wrap {
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    height: 100%;
  }
  
  .dp-slider {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .dp-slider div { transform-style: preserve-3d; }
  
  .dp_item {
    display: block;
    position: absolute;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    transition: transform 1.2s;
  }
  
  .dp-img img { border-left: 1px solid #fff; }
  
  #dp-slider .dp_item:first-child {
    z-index: 10 !important;
    transform: rotateY(0deg) translateX(0px) !important;
  }
  
  .dp_item[data-position="2"] {
    z-index: 9;
    transform: rotateY(0deg) translateX(10%) scale(0.9);
  }
  
  .dp_item[data-position="3"] {
    z-index: 8;
    transform: rotateY(0deg) translateX(20%) scale(0.8);
  }
  
  .dp_item[data-position="4"] {
    z-index: 7;
    transform: rotateY(0deg) translateX(30%) scale(0.7);
  }
  
  #dp-next,  #dp-prev {
    position: absolute;
    top: 20%;
    right: 16%;
    height: 33px;
    width: 33px;
    z-index: 10;
    cursor: pointer;
  }
  
  #dp-prev {
    left: 15px;
    transform: rotate(180deg);
  }
  
  #dp-dots {
    position: absolute;
    bottom: 25px;
    z-index: 12;
    left: 38%;
    cursor: default;
  }
  
  #dp-dots li {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
  }
  
  #dp-dots li:hover {
    cursor: pointer;
    background: #FA8C8C;
    transition: .3s;
  }
  
  #dp-dots li.active { background: #FA8C8C; }
  
  .dp_item { width: 85%; }
  
  .dp-content,  .dp-img { text-align: left; }
  
  .dp_item {
    display: flex;
    align-items: center;
    background: #cbbd00;
    border-radius: 10px;
    overflow: hidden;
    border-top: 5px solid #1100a7;
  }
  
  
  .dp-img img {
    width: 100%;
    max-height: 300px;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
  
  #dp-slider,  .dp-img img { height: 738px; }
 